<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
          <h1 class="mb-0 bread">Contact us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="w-100"></div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <img src="assets/images/rew.jpg" alt="alternative" width="200px" height="170" align="center">
            <p>Student ID:64090500412</p>
            <p>นายจารุวิทย์ สิงห์โสม</p>
            <p>ตำแหน่ง:Full Stack developer</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <img src="assets/images/rew.jpg" alt="alternative" width="200px" height="170" align="center">
            <p>Student ID:64090500412</p>
            <p>นายจารุวิทย์ สิงห์โสม</p>
            <p>ตำแหน่ง:Report writter</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <img src="assets/images/born.jpg" alt="alternative" width="210px" height="170" align="center">
            <p>Student ID:64090500433</p>
            <p>นายธนา ประจนกล้า</p>
            <p>ตำแหน่ง:นวดหลังและให้กำลังใจ</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <img src="assets/images/Pongz.jpg" alt="alternative" width="200px" height="170" align="center">
            <p>Student ID:64090500441</p>
            <p>นายพงโพยม มนพลับ</p>
            <p>ตำแหน่ง:ชาวสวนที่ประสบปัญหา</p>
          </div>
        </div>
      </div>
      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
        </div>
      </div>
    </div>
  </section>
